<ion-header>
    <ion-navbar color="primary">
        <ion-buttons left>
            <button ion-button icon-only clear navPop>
                <ion-icon name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>
        <ion-label class="f-20" text-center color="white" ion-text>Setting</ion-label>
    </ion-navbar>
</ion-header>
<ion-content>

    <!-- <ion-grid>
        <ion-row>
            <ion-col col-7>
                Notification Frequency
            </ion-col>
            <ion-col col-5>
                
            </ion-col>
        </ion-row>
    </ion-grid>
             -->
    <ion-item>
        <ion-label color="text_color_grey">Notification Frequency</ion-label>
        <ion-select [(ngModel)]="notificationFrequency">
            <ion-option selected  value="hourly">Hourly</ion-option>
            <ion-option  value="daily">Daily</ion-option>
            <ion-option  value="monthly">Monthly</ion-option>
        </ion-select>
        <!-- <ion-select [(ngModel)]="notificationFrequency" (ionChange)="onChange(notificationFrequency)">
            <ion-option selected  value="hourly">Hourly</ion-option>
            <ion-option  value="daily">Daily</ion-option>
            <ion-option  value="monthly">Monthly</ion-option>
        </ion-select> -->
       
    </ion-item>
    <ion-item>
        <ion-label color="text_color_grey">Notification Subscription</ion-label>
        <ion-toggle [(ngModel)]="notificationSubscription"></ion-toggle>
    </ion-item>
</ion-content>