<ion-header>
    <dewber-header [header]="header_data" [search]="false"></dewber-header>
</ion-header>
<ion-content class="tabs-container" no-padding>
    <ion-tabs tabs-only item-top tabsPlacement="top" class="outlet-details-tabs">
        <ion-tab [root]="dewPointComponent" [rootParams]="dewRewardAndPointRequest" tabTitle="Dew Points"></ion-tab>|
        <ion-tab [root]="dewRewardComponent" [rootParams]="dewRewardAndPointRequest" tabTitle="Dew Rewards"></ion-tab>|

    </ion-tabs>
</ion-content>