<ion-content class="login-content">
    <ion-row>
        <ion-col col-2>
            <ion-buttons left>
                <button ion-button icon-only clear navPop>
                    <ion-icon color="white" name="arrow-round-back"></ion-icon>
                </button>
            </ion-buttons>
        </ion-col>
        <ion-col col-10>
            <p>&nbsp;</p>
        </ion-col>
    </ion-row>
    <ion-row padding class="logo-row">
        <ion-col text-center>
            <img src='assets/img/logo.png' />
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            <p>&nbsp;</p>
        </ion-col>
    </ion-row>

    <div padding class="login-box">
        <form name="userForm" [formGroup]="forgotPasswordForm">
            <ion-row *ngIf="loadTemplate">
                <ion-col>
                    <ion-list class="registration-elements">
                        <ion-grid no-padding>
                            <ion-row>
                                <ion-col col-4>
                                    <ion-item class="form-element-1 pl-0 select-login">
                                        <ion-select formControlName="dialCode" style="font-size: 16px; color: #fff">
                                            <ion-option value="{{country._id}}" *ngFor="let country of countryList">{{country.dial_code}} - {{country.country_name}}</ion-option>
                                        </ion-select>
                                    </ion-item>
                                </ion-col>
                                <ion-col col-8>
                                    <ion-item class="form-element-2">
                                        <ion-input type="number" placeholder="Phone No" ion-text name="phoneNo" formControlName="phone_no"></ion-input>
                                    </ion-item>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-list>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-4 offset-4 text-center>
                    <button ion-button round type="submit" class="font-primary" color="white" block (click)="forgotPassword()">Get OTP</button>
                </ion-col>
            </ion-row>
        </form>
    </div>
</ion-content>