.feedback-grid-container{
    .bg-light_blue2{
        background: color($colors,light_blue2,base);
    }
    .grid-row{
        ion-col{
            padding: 0 !important;
        }
    }
}

.feedback-pop-over {
    .popover-content {
        top: 50px !important;
        right: 30px !important;
        width: auto !important;
        // height: 400px !important;
        left: 30px !important;
        border-radius: 0 !important;
    }
}