<ion-content no-padding>
    <ion-grid class="feedback-grid-container" no-padding>
        <ion-row class="bg-light_blue2">
            <ion-col padding>
                <h5 ion-text class="m-0 p-10" color="white">Send Your Feedback</h5>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <rich-text [formControlItem]="feedback"></rich-text>
            </ion-col>
        </ion-row>
        <ion-row class="grid-row" text-center>
            <ion-col color="primary" col-6>
                <button ion-button full color="primary" class="m-0" (click)="cancel()">Cancel</button>
            </ion-col>
            <ion-col col-6>
                <button ion-button full color="white" class="m-0" (click)="postFeedback()">Send</button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>