<!-- <ion-content>
        <ion-label>Data Not Found</ion-label>
        <ion-label>Retry</ion-label>
</ion-content> -->

<ion-content text-center class="vertical-align-content">
    <ion-grid>
          <ion-row>
                <ion-col>
                      <h1 no-padding no-margin>Location Not Found</h1>
                      <h6>Retry</h6>
                      <ion-icon color="primary" class="f-4rem" name="refresh-circle"></ion-icon>
                </ion-col>
          </ion-row>
    </ion-grid>
   </ion-content>