.profile-img-container {
  height: 65px;
  width: 65px;
  margin: 5px auto;
  border-radius: 50%;
  overflow: hidden;
}
// .popover-content{
//     right: 0 !important;
// }
.profile-bg {
  background-color: color($colors, primary, base);
  height: 160px;
}
.profile-name {
  font-size: 16px;
}
.profile-referral-code {
    font-size: 10px;
}
.profile-pd {
  padding-top: 10px;
}
.popover-content {
  top: 0 !important;
  right: 0 !important;
  width: 250px !important;
  left: auto !important;
  border-radius: 0 !important;
}
.profile-list-container {
  ion-badge {
    padding: 6px 6px !important;
  }
  .badge-md {
    border-radius: 13px;
    color: color($colors, text_color_light_grey, base);
    border: 1px solid;
    background: color($colors, white, base);
  }
}

.alertDanger {
  .alert-head {
    padding: 10px 16px 10px;
  }
  .alert-title {
    margin-top: 0;
  }
  .alert-wrapper {
    border-radius: 0;
    width: 95%;
    max-width: none !important;
  }
  .alert-head {
    background-color: color($colors, light_blue2, base);
  }
  .alert-title {
    color: color($colors, white, base);
  }
  .alert-input-group {
    padding: 0;
  }
  .alert-input {
    padding: 0;
    border-radius: 0px;
    height: 250px;
    margin: 0;
    border: none !important;
  }
}

.edit-icon {
  width: 10px;
  margin: -15px auto 0 auto;
  padding-left: 50px;
}
