<ion-header>
    <dewber-business-header [header]=""></dewber-business-header>
</ion-header>
<ion-content no-padding>
    <ion-list no-lines class="m-0">
        <ion-item padding>
            <!-- <ion-avatar item-start> -->
            <img src="{{baseUrl}}{{customerInfoObject.profile_picture}}" height="60px" width="60px" *ngIf="customerInfoObject.profile_picture != '' "
                item-start>
            <img src="./assets/img/user.svg" height="60px" width="60px" *ngIf="customerInfoObject.profile_picture == '' " item-start>
            <!-- </ion-avatar> -->
            <h2>{{customerInfoObject.firstname}} {{customerInfoObject.lastname}}</h2>
            <p class="f-12" *ngIf="customerInfoObject.last_checkin != ''">Checked in at {{convertDate(customerInfoObject.last_checkin)}}</p>

        </ion-item>
        <ion-item color="light_blue2">
            <h2>Dew Points</h2>
        </ion-item>
        <ion-item color="white" class="amount-item" no-lines>
            <ion-grid class="p-0">
                <ion-row align-items-center>
                    <ion-col col-5 class="pl-0">
                        <p class="f-18">Amounts Spent</p>
                    </ion-col>
                    <ion-col col-4>
                        <span>{{currency}}</span>
                        <input type="number" [formControl]="spent_amount" item-content class="input-width b-1">
                    </ion-col>
                    <ion-col col-3>
                        <button ion-button icon-only clear item-end (click)="confirmAmount()">
                            <img src="assets/img/1.png" height="35px" width="35px">
                        </button>
                    </ion-col>
                </ion-row>
            </ion-grid>

        </ion-item>
    </ion-list>

    <ion-list class="dew-rewards m-0" no-lines>
        <ion-item color="light_blue2">
            <h2>Dew Rewards</h2>
        </ion-item>
        <div class="pt-5">
            <ion-item class="p-0 mb-5" *ngFor="let campaigns of dewRewardInfo" >
                    <ion-grid no-padding class="rewards-grid" [ngClass]="{'item-bg-yellow':campaigns.redeemOptions,'item-bg':!campaigns.redeemOptions}">
                        <ion-row align-items-center>
                            <ion-col col-2 class="details-icon-bg">
                                <img src="{{baseUrl}}{{campaigns.campaignFreeIconInfo.business_icon}}">
                            </ion-col>
                            <ion-col col-6 padding class="stamp-count-container">
                                <h2 ion-text color="text_color_grey" class="f-b f-r-14">{{campaigns.name}}</h2>
                                <p class="stamp-count pl-5 " *ngIf="!campaigns.redeemOptions"> {{campaigns.stampCount}} / {{campaigns.target}}</p>
                                <h2 ion-text *ngIf="campaigns.redeemOptions" color="text_color_grey" class="f-b f-r-14">Redeem now</h2>
                            </ion-col>
                            <ion-col col-4 padding class="stamp-count-container" text-right *ngIf="!campaigns.redeemOptions">
                                <!-- <ion-icon item-end class="f-30" color="white" name="ios-remove-circle-outline" (click)="removeDewRewardStamp(campaigns._id)"></ion-icon>
                                    <ion-icon item-end class="f-30" color="white" name="ios-add-circle-outline" (click)="stampDewRewards(campaigns._id)"></ion-icon> -->
                                <img src="assets/img/mi.png" height="50px" width="50px" item-end class="f-30" (click)="removeDewRewardStamp(campaigns._id)">
                                <img src="assets/img/plus-blue.png" height="50px" width="50px" item-end class="f-30" (click)="stampDewRewards(campaigns._id)">
                            </ion-col>
                            <ion-col col-4 padding class="stamp-count-container" text-right *ngIf="campaigns.redeemOptions">
                                <img src="assets/img/redeem.png" height="50px" width="50px" item-end class="f-30" (click)="redeemDewRewardForCustomer(campaigns._id)">
                            </ion-col>
                        </ion-row>
                        <!-- <ion-row class="redeem-row" *ngIf="campaigns.redeemOptions">
                                <ion-col col-10 padding>
                                    <h2 ion-text class="f-b f-r-14" color="white">Redeem now</h2>
                                </ion-col>
                                <ion-col col-2 padding>
                                    <img src="assets/img/2.png" height="30px" width="30px" (click)="redeemDewRewardForCustomer(campaigns._id)">
                                </ion-col>
                            </ion-row> -->
                    </ion-grid>
            </ion-item>
        </div>
    </ion-list>

</ion-content>