<ion-navbar hideBackButton="true" #navBar>
    <ion-buttons left>
        <button ion-button *ngIf="back_button" icon-only clear navPop>
            <ion-icon name="arrow-round-back"></ion-icon>
        </button>
    </ion-buttons>
    <ion-buttons left>
        <button ion-button (click)="qrScanner()" *ngIf="qr_button" icon-only clear>
            <img src="assets/img/barcode_blue.png" height="30px" width="30px">
        </button>
    </ion-buttons>
    <ion-buttons left>
        <button ion-button icon-only clear *ngIf="search_button" (click)="searchClicked()">
            <ion-icon color="primary" name="search"></ion-icon>
        </button>
    </ion-buttons>
    <ion-title text-center ion-text class="toolbar-title-header">{{header_data}}</ion-title>
    <ion-buttons right>
        <button ion-button icon-only clear (click)="goToMyLoyalty()">
            <div right class="points-container">
                <span class="point">{{dew_points | numeralPipe}}</span>
                <br>
                <span class="point-text">Points</span>
            </div>
            <img class="green-badge" *ngIf="toggleBadge" src="assets/img/notification.png" >
        </button>
        <button ion-button icon-only clear (click)="profile()">
            <ion-icon color="primary" class="header-f-20" name="md-settings"></ion-icon>
        </button>
    </ion-buttons>
</ion-navbar>