<ion-header>
    <dewber-header [header]="header_data" [search]="false"></dewber-header>
</ion-header>
<ion-content class="promotion-content" no-padding>
        <ion-list>
            <ion-item *ngFor="let promotion of promotions" (click)="promotionsDetails(promotion)">
                <p ion-text text-wrap class="f-w-normal f-20" color="text_color_grey">{{promotion.description}}</p>
                <p ion-text color="text_color_light_grey" class="pt-5">{{promotion.businessName}}</p>
                <ion-icon color="text_color_light_grey" item-right name="ios-arrow-dropright"></ion-icon>
            </ion-item>
        </ion-list>
</ion-content>