<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.gvtechsolution.fooddeliveryathome">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".activities.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.user.RegistrationActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.business.BusinessRegistrationActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".activities.user.FilterByFoodItemActivity" />
        <activity android:name=".activities.user.ChangeLocationActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.user.HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".activities.user.RestaurantHomeActivity" />
        <activity
            android:name=".activities.user.FoodItemDetailsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.user.CartActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ProfileActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.SettingsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.user.OrderActivity" />
        <activity
            android:name=".activities.business.BusinessFoodItemDetailsActivity"
            android:label="@string/title_activity_business_food_item_details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.business.BusinessOrderActivity" />
        <activity android:name=".activities.business.GalleryActivity" />
        <activity
            android:name=".activities.PaymentActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.business.BusinessSpecialmenuActivity" />
        <activity android:name=".activities.business.WorkingDaysActivity" />
        <activity
            android:name=".activities.user.CustomMenuActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.user.NotificationDetailsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.business.EventOrderActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>