<ion-header>
    <ion-navbar>
        <ion-buttons>
            <button ion-button icon-only navPop>
                <ion-icon name="arrow-back"></ion-icon>Back
            </button>
        </ion-buttons>
        <ion-title></ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-item-group class="dew-rewards">
        <ion-item no-padding class="item-bg">
            <p>
                <ion-grid no-padding class="rewards-grid">
                    <ion-row>
                        <ion-col text-center col-2 no-padding class="details-icon-bg">
                            <img src="assets/img/yogurt.svg" class="pt-5">
                        </ion-col>
                        <ion-col col-10 padding>
                            <h2 ion-text class="txt-bold" color="primary">20 points</h2>
                            <p ion-text class="f-primary">Get a glass of wine</p>
                        </ion-col>
                    </ion-row>
                    <ion-row class="stamps-row">
                        <ion-col col-12 no-padding>
                            <p class="f-white">You've reached your reward target! Claim in store</p>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </p>
        </ion-item>
        <ion-item no-padding class="item-bg">
            <p>
                <ion-grid no-padding class="rewards-grid">
                    <ion-row>
                        <ion-col text-center col-2 no-padding class="details-icon-bg">
                            <img src="assets/img/yogurt.svg" class="pt-5">
                        </ion-col>
                        <ion-col col-10 padding>
                            <h2 ion-text class="txt-bold" color="primary">20 points</h2>
                            <p ion-text class="f-primary">Get a glass of wine</p>
                        </ion-col>
                    </ion-row>
                    <ion-row class="stamps-row">
                        <ion-col col-12 no-padding>
                            <p class="f-white">You've reached your reward target! Claim in store</p>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </p>
        </ion-item>
    </ion-item-group>
</ion-content>