<ion-header>
    <dewber-header [header]="header_data"></dewber-header>
</ion-header>
<ion-content class="nearby-content content-margin" [formGroup]="searchControl">
    <ion-grid *ngIf="searchOption" no-padding>
        <ion-row class="nearby-search" no-padding>
            <ion-col col-10 no-padding>
                <ion-input formControlName="search" class="text-indent-10" name="search" placeholder="Type business name here"></ion-input>
            </ion-col>
            <ion-col class="search-container" col-2 no-padding>
                <ion-icon color="light_blue2" name="search"></ion-icon>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-list>
        <ion-item *ngFor="let outlet of outlets">
            <ion-avatar item-start (click)="checkIn(outlet, false)">
                <img src="{{baseUrl}}{{outlet.businessInfo.categoryInfo.category_icon}}" class="busineess-icon">
                <p class="distance-text " ion-text>{{outlet.distanceFromYou}}</p>
            </ion-avatar>
            <p ion-text color="text_color_dark_grey" text-wrap class="f-15" (click)="checkIn(outlet, false)">{{outlet.branch_name}}</p>
            <p class="f-s-12-f-w-500" color="text_color_light_grey" ion-text text-wrap (click)="checkIn(outlet, false)">{{outlet.branch_first_address}} {{outlet.branch_last_address}}</p>
            <p class="f-s-11-f-w-500" color="text_color_light_grey" ion-text text-wrap (click)="checkIn(outlet, false)">{{outlet.loyaltyString}}</p>
            <button (click)="checkIn(outlet, true)" class="ft-normal h-25" small ion-button color="light_blue2" item-end>Check In</button>
        </ion-item>
    </ion-list>
</ion-content>