.txt-bold{
    font-weight: bold !important;
}
.item-bg {
    background: color($colors, light_blue3, base);
}
.star-icon {
    color: white;
} 
.star-icon[_ngcontent-c0]:before {
    color: white !important;
}
.stamps-row {
    background: color($colors, light_blue1,base);
    ion-col {
        padding:5px !important;
    }
}
.details-icon-bg {
    background: color($colors,light_blue2 ,base);
  
    border: 1px solid color($colors, light_blue2,base);
}
.pt-5{
    padding-top: 5px;
}
.pt-7{
    padding-top: 7px;
}
.pl-10{
    padding-left: 10px;
}
.pl-15{
    padding-left: 15px;
}
.f-w-normal{
    font-weight: normal !important;
}

.dew-rewards-outlet {
    .item-bg {
        .item-inner {
            padding-right: 0px !important;
            ion-label {
                margin: 0;
            }
        }
    }
    .rewards-grid {
        h2 {
            padding: 10px 0 5px 10px;
        }
        p {
            padding: 0 0 5px 10px;
            color: color($colors,primary,base);
        }
    }
    .stamp-count-container {
        color: white;
        padding-top: 5px !important;
        font-weight: bold;
        .stamp-count {
            font-size: 18px;
        }
    }
}