<ion-content class="dew-rewards-outlet">
    <ion-item-group padding>
        <ion-item no-padding *ngFor="let reward of dewRewardDetails" class="item-bg mb-5">
         
                <ion-grid no-padding class="rewards-grid">
                    <ion-row align-items-center>
                        <ion-col text-center col-2 no-padding class="details-icon-bg">
                            <img src="{{baseUrl}}{{reward.campaignFreeIconInfo.business_icon}}" class="pt-7">
                        </ion-col>
                        <ion-col col-10 padding>
                            <h2 ion-text class="txt-bold pt-5" color="primary">{{reward.name}}</h2>
                            <p ion-text>{{reward.description}}</p>
                        </ion-col>
                    </ion-row>
                    <ion-row class="stamps-row">
                        <ion-col col-10 text-wrap>
                            <span *ngFor="let t of getTimes(reward.stampCount)"><img class="pl-5" src="./assets/img/fill.png" height="20px" width="25px"></span>
                            <span *ngFor="let a of getTimes(reward.emptyStamp)"><img class="pl-5" src="./assets/img/empty.png" height="20px" width="25px"></span>
                        </ion-col>
                        <ion-col col-2 padding text-right class="stamp-count-container">
                            <span class="stamp-count"> {{reward.stampCount}} / {{reward.target}}</span> 
                        </ion-col>
                    </ion-row>
                </ion-grid>
        </ion-item>
    </ion-item-group>

    <div>
        <h5 ion-text color="text_color_grey" class="pl-15" *ngIf="promotionDetails.length > 0">Promotion</h5>
        <hr>
        <ion-list>
            <ion-item *ngFor="let promotion of promotionDetails" (click)="promotions(promotion)" no-lines>
                <p ion-text text-wrap class="f-w-normal f-20" color="primary" ion-text>{{promotion.description}}</p>
                <ion-icon item-right name="ios-arrow-dropright"></ion-icon>
            </ion-item>
        </ion-list>
        <!-- <hr> -->
    </div>
</ion-content>