<ion-header>
    <dewber-header [header]="header_data" [qr]="false" [search]="false" [back]="true"></dewber-header>
</ion-header>
<ion-content>

    <ion-grid class="p-0">
        <ion-row class="bg-row" text-center>
            <ion-col col-12>
                <p class="f-b f-white m-10 f-20 " ion-text>Dew Points</p>
            </ion-col>
        </ion-row>
    </ion-grid>

    <div class="bg-light_blue2 p-lr-10">
        <p color="white" class="m-5" text-center ion-text>
            {{dewPoints.branch_name}}
        </p>
    </div>
    <ion-list *ngFor="let dewPointDetail of dewPoints.dewPointsCampaings" class="dew-point-detail-header">
        <ion-item class="item-bg">
            <!-- <ion-avatar item-start> -->
                <img src="{{baseUrl}}{{dewPointDetail.campaignIconInfo.business_icon}}" item-start no-margin>
            <!-- </ion-avatar> -->
            <p color="dark" ion-text color="text_color_grey" class="ft-w-500 ft-17">{{dewPointDetail.name}}
                <br>
                <span class="ft-normal ft-13" color="text_color_light_grey" ion-text text-wrap>{{dewPointDetail.description}}</span>
            </p>
            <p color="dark" ion-text color="text_color_grey" text-center class="ft-bold" item-end>{{dewPointDetail.dew_points}}
                <br>
                <span class="ft-normal f-10">Points</span>
            </p>
            <button ion-button item-end color="light_blue2" (click)="confirmRedeem(dewPointDetail)">Redeem</button>
            <!---->
            <!-- <button ion-button item-end (click)="confirmRedeem()">Redeem</button> -->
        </ion-item>
    </ion-list>

</ion-content>