<ion-header>
    <dewber-header [header]="header_data" [qr]="false" [search]="false" [back]="true"></dewber-header>
</ion-header>

<ion-content>

    <ion-grid class="p-0">
        <ion-row class="bg-row" text-center>
            <ion-col col-12>
                <p class="fw-400 f-white m-10 f-20" ion-text>Dew Rewards</p>
            </ion-col>
        </ion-row>
    </ion-grid>


    <ion-grid class="dew-reward-grid-container">
        <ion-row>
            <ion-col class="col-1">
                <div class="bg-light_blue2 m-10 p-1">
                    <p class="f-white f-16 p-white" text-center>
                        {{dewReward.business_name}}
                    </p>
                </div>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col *ngFor="let dewRewardsCampaing of dewReward.dewRewardsCampaings" col-4>
                <ion-row class="h-30">
                    <ion-col class="col-1-container-detail bg-secondary" col-5 text-center>
                        <img src="{{baseUrl}}{{dewRewardsCampaing.campaignIconInfo.business_icon}}">
                        <p class="f-b">{{dewRewardsCampaing.name}}</p>
                    </ion-col>
                    <ion-col class="col-2-container-detail" col-5 offset-1>
                        <p class="f-b f-r-14">{{dewRewardsCampaing.stampCount}} / {{dewRewardsCampaing.target}}</p>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>