.m-20 {
    margin: 20px;
}

.p-1 {
    padding: 1px;
}

.f-white {
    color: color($colors, white, base);
}

.p-0 {
    padding: 0px !important;
}

.dew-reward-grid-container {
    .p-white {
        color: color($colors, white, base);
    }
    p {
        margin: 7px 0 7px 0px;
        color: color($colors, text_color_grey, base);
    }
    .col-1 {
        margin: 16px 16px 0px 16px;
    }
    .col-1-container-detail {
        border: 1px solid #e4e4e4;
        padding: 2px;
        img {
            height: 24px;
            width: 24px; // margin-left: 6px;
        }
        p {
            font-size: 9px;
            margin: 6px 0 0 0;
        }
    }
    .h-30 {
        height: 30px;
    }
    .col-2-container-detail {
        border: 1px solid #e4e4e4;
        padding: 2px;
        p {
            font-size: 12px;
            margin: 5px 0 0 0;
        }
    }
}