<ion-header>
    <ion-navbar>
        <ion-buttons left>
            <button ion-button clear icon-only navPop>
                <ion-icon name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title text-center>Change PIN</ion-title>
    </ion-navbar>
</ion-header>
<ion-content center text-center padding class="change-pin">
    <form name="changePasswordForm" class="changePasswordForm" [formGroup]="changePasswordForm">
            <ion-row>
                <ion-col>
                    <ion-list no-lines>
                        <ion-item class="form-element">
                            <ion-input type="password" ion-text name="password" class="custom-input-light" placeholder="Old PIN" formControlName="password"></ion-input>
                        </ion-item>
                    </ion-list>
                </ion-col>
            </ion-row>
        <ion-row>
            <ion-col>
                <ion-list no-lines>
                    <ion-item class="form-element">
                        <ion-input type="password" ion-text name="Enter New Password" class="custom-input-light" placeholder="New PIN" formControlName="new_password"></ion-input>
                    </ion-item>
                </ion-list>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-list no-lines>
                    <ion-item class="form-element">
                        <ion-input type="password" ion-text name="Confirm Password" class="custom-input-light" placeholder="Confirm PIN" formControlName="confirm_password"></ion-input>
                    </ion-item>
                </ion-list>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-4 offset-4 text-center>
                <button ion-button round type="submit" color="primary" block (click)="changePassword()">Submit</button>
            </ion-col>
        </ion-row>
    </form>
</ion-content>