.change-pin {
    .item {
        border-bottom: 0 !important;
        box-shadow:  none !important;
    }
    .item-inner {
        border-bottom: 0 !important;
        box-shadow:  none !important;
    }

}