rich-text {
    -webkit-user-select: auto !important;
    margin-left: 10px;
    overflow-x: scroll;
    overflow-y: auto;
    word-wrap: normal;
    height: 40vh;
    img {
        padding-left: 2px;
        max-width: 95%;
    }
    &:empty:before {
        content: attr(data-placeholder-text);
        display: block;
        color: lightgrey;
        font-weight: bold;
    }
    .maineditor {
        height: 285px;
        padding-top: 10px;
        border-bottom: 1px solid white;
        -webkit-user-select: text;
        -moz-user-select: text;
        -ms-user-select: text;
        user-select: text;
        overflow: scroll;
    }
    div.decorator {
        background: #444;
        button {
            background: #444;
            color: #fff;
            font-size: 1.1em;
            height: 35px;
            min-width: 30px;
            padding-left: 1px;
            padding-right: 1px;
        }
    }
}