<ion-content>
    <div class="dew-reward-header">
        <p class="f-16 f-b m-5" color="text_color_grey" ion-text text-center>To Redeem Dew Points</p>
        <!-- <ion-searchbar class="dew-reward-searchbar-container" name="searchbar" [(ngModel)]="searchComplete" [formControl]="searchControl">
        </ion-searchbar> -->
    </div>
    <ion-row class="dew-reward-search" [formGroup]="searchControl">
        <ion-col col-10 no-padding>
            <ion-input formControlName="search" placeholder="Search Business Name"></ion-input>
        </ion-col>
        <ion-col class="search-container" col-2 align-self-center>
            <ion-icon color="light_blue2" name="search"></ion-icon>
        </ion-col>
    </ion-row>
    <ion-list class="dew-point-list-container">
        <ion-list-header>
            Dew Points Records
        </ion-list-header>
        <div *ngIf="!businessSearch">
            <ng-container *ngFor="let dewPoint of myOutletDetails">
                <ion-item *ngIf="getTotalDewPoints(dewPoint.dewPointsCampaings) > 0" (click)="getDewPointDetails(dewPoint)">
                     <span color="text_color_grey" class="f-15" ion-text>{{dewPoint.created_at | date:mediumDate}} - {{dewPoint.branch_name}}</span>
                    <ion-note color="text_color_grey" item-end float-right>
                        <span class="f-15">{{dewPoint.earnedDewPoints}}</span>
                    </ion-note>
                </ion-item>
            </ng-container>
        </div>
        <div *ngIf="businessSearch">
            <ion-item *ngFor="let branchDetails of myOutletBusinessDetails" (click)="getBranchDetails(branchDetails)">
                {{branchDetails.branch_name}}
            </ion-item>
        </div>
    </ion-list>
</ion-content>
