.infomap-content {
    .infomap-icon {
        background-color: color($colors, light_blue3, base);
        border-radius: 50%;
    }
    .infomap-map-icon {
        // padding: 0px 13px 0px 0px;
        padding: 0px 5px 0px 0px;
    }
    .f-22 {
        font-size: 22px;
    }
    .f-15 {
        font-size: 15px;
    }
    a {
        text-decoration: none !important;
    }
    .t-indent-23 {
        text-indent: 23px;
    }
    .f-size-40 {
        font-size: 40px;
    }
    .mb-0 {
        margin-bottom: 0;
    }
    .ml-10 {
        margin-left: 10px;
    }
    .ft-size-20 {
        font-size: 20px;
    }
    .m-0 {
        margin: 0 !important;
    }
    .pd-l-10 {
        padding-left: 10px;
    }
    .hours-container {
        ion-label {
            margin: 0 !important;
        }
        p {
            margin: 0 !important;
            font-size: 13px;
        }
    }
}

.map-marker {
    position: absolute;
    right: 0;
    top: 50px;
}