.my-customer-content {
    ion-icon {
        font-size: 4.0rem;
        color: color($colors, text_color_grey, base);
    }
   
}

.searchbar {
    background: none;
    .searchbar-input {
        border: 1px solid color($colors, text_color_light_grey, base);
        border-radius: 25px;
        padding:6px 45px;
        ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: color($colors, light_blue2, base);
        }
        ::-moz-placeholder { /* Firefox 19+ */
        color: color($colors, light_blue2, base);
        }
        :-ms-input-placeholder { /* IE 10+ */
        color: color($colors, light_blue2, base);
        }
        :-moz-placeholder { /* Firefox 18- */
        color: color($colors, light_blue2, base);
        }
    }
}
.border-top-0 {
    border-top: 0;
    border-bottom: 0.55px solid #c8c7cc;
}

.add-button-container {
        margin: 10px 0 0 0 !important;    
      
    }
