<ion-header>
    <dewber-business-header [header]="header_data" [back]="false"></dewber-business-header>
</ion-header>
<ion-content class="my-customer-content">
    <ion-list no-lines no-padding class="mb-5 m-0 ">
        <ion-item no-padding [formGroup]="searchControl">
            <ion-searchbar [showCancelButton]="false" formControlName="search"
                placeholder="Search by phone or email">
            </ion-searchbar>
            <div text-center class="add-button-container" item-end>
                <ion-icon name="add-circle" (click)="addCustomer()" ></ion-icon>
                <br><span class="f-12">Add</span>
            </div>
        </ion-item>
    </ion-list>
    <br>
    <ion-list>
        <ion-list-header class="border-top-0">
            Customers
        </ion-list-header>
        <ion-item *ngFor="let customer of myCustomerDetails" (click)="getCustomerDetails(customer._id)" >
            <img src="{{baseUrl}}{{customer.profile_picture}}" height="60px" width="60px" *ngIf="customer.profile_picture != '' " item-start>
            <img src="./assets/img/user.svg" height="60px" width="60px" *ngIf="customer.profile_picture == '' " item-start>
            <h2>{{customer.firstname}} &nbsp; {{customer.lastname}}</h2>
            <p *ngIf="customer.lastCheckinTime != '' && !isResultSearched">Checked in {{customer.lastCheckinTime}}</p>
            <img *ngIf="customer.lastCheckinTime != '' && !isResultSearched" item-end src="assets/img/check-mark.svg" height="20px" width="20px">
        </ion-item>
    </ion-list>
</ion-content>
