<ion-header>
<dewber-header [header]="header_data" [search]="false" [branch]="checkInDetails.branchId"></dewber-header>
</ion-header>
<ion-content padding>
    <div padding>
        <ion-grid no-padding class="b-1">
            <ion-row text-center (click)="outletDetails()">
                <div class="checkin-bg file-container">
                    <div class="checkin-pd">
                        <div class="checkin-img-container">
                            <img src="{{baseUrl}}{{outlet.businessInfo.business_logo}}" height="190px" width="190px">
                        </div>
                    </div>
                </div>
            </ion-row>

            <ion-list no-lines class="check-n" (click)="outletDetails()">
                <ion-item>
                    <p class="label-font-size">{{outlet.branch_name}}</p>
                    <p class="desc-font">{{outlet.branch_first_address}} {{outlet.branch_last_address}}</p>
                    <p class="desc-font">{{outlet.branch_city}} {{outlet.branch_state}} {{outlet.branch_postal_code}}</p>
                </ion-item>
            </ion-list>
            <div (click)="checkIn()" ion-item text-center no-padding color="primary" class="b-b-0">
                <p ion-text color="white" class="f-normal f-20">Check In</p>
            </div>
        </ion-grid>
    </div>
</ion-content>